<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0000</string>
		<key>elementName</key>
		<string>Start Event</string>
		<key>elementDescription</key>
		<string>Untyped start event that triggers a new process instance.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0000</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0001</string>
		<key>elementName</key>
		<string>Intermediate Event</string>
		<key>elementDescription</key>
		<string>This event marks the occurrence of a particular business event. Process execution is not delayed.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0001</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0002</string>
		<key>elementName</key>
		<string>End Event</string>
		<key>elementDescription</key>
		<string>The untyped end event typically marks the standard end of a process.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0002</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0003</string>
		<key>elementName</key>
		<string>Start Message Event	</string>
		<key>elementDescription</key>
		<string>A process instance is started on receipt of a message.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0003</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0004</string>
		<key>elementName</key>
		<string>Start Message Event</string>
		<key>elementDescription</key>
		<string>A process instance is started on receipt of a message.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0004</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0005</string>
		<key>elementName</key>
		<string>Intermediate Message Catching Event</string>
		<key>elementDescription</key>
		<string></string>
		<key>elementImageName</key>
		<string>bpmn_element_0005</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0006</string>
		<key>elementName</key>
		<string>Intermediate Message Boundary Event</string>
		<key>elementDescription</key>
		<string></string>
		<key>elementImageName</key>
		<string>bpmn_element_0006</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0007</string>
		<key>elementName</key>
		<string>Intermediate Message Event</string>
		<key>elementDescription</key>
		<string>This event reacts on the arrival of a message.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0007</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0008</string>
		<key>elementName</key>
		<string>End Message Event</string>
		<key>elementDescription</key>
		<string>At the end of the process, a message is sent.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0008</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0010</string>
		<key>elementName</key>
		<string>Start Timer Event</string>
		<key>elementDescription</key>
		<string>A process instance is started on cyclic timer events, points in time, after time spans or timeouts.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0010</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0011</string>
		<key>elementName</key>
		<string>Intermediate Timer Boundary Event</string>
		<key>elementDescription</key>
		<string></string>
		<key>elementImageName</key>
		<string>bpmn_element_0011</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0012</string>
		<key>elementName</key>
		<string>Start Timer Event</string>
		<key>elementDescription</key>
		<string>Process execution is delayed until a certain point in time is reached or a particular duration is over.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0012</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0013</string>
		<key>elementName</key>
		<string>Intermediate Timer Event</string>
		<key>elementDescription</key>
		<string></string>
		<key>elementImageName</key>
		<string>bpmn_element_0013</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0014</string>
		<key>elementName</key>
		<string>Intermediate Timer Event</string>
		<key>elementDescription</key>
		<string></string>
		<key>elementImageName</key>
		<string>bpmn_element_0014</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0015</string>
		<key>elementName</key>
		<string>Start Escalation Event</string>
		<key>elementDescription</key>
		<string>Reacts on an escalation to another role in the organization. This event is only used inside of an event subprocess.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0015</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0016</string>
		<key>elementName</key>
		<string>Start Escalation Event</string>
		<key>elementDescription</key>
		<string></string>
		<key>elementImageName</key>
		<string>bpmn_element_0016</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0017</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0017</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0018</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0018</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0019</string>
		<key>elementName</key>
		<string>Intermediate Escalation Event</string>
		<key>elementDescription</key>
		<string>This event reacts on the escalation of a case. It needs to be attached to the boundary of an activity.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0019</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0020</string>
		<key>elementName</key>
		<string>End Escalation Event</string>
		<key>elementDescription</key>
		<string>The case is escalated with the end of the process.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0020</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0021</string>
		<key>elementName</key>
		<string>Start Conditional Event</string>
		<key>elementDescription</key>
		<string>A process instance is started based on changed business conditions or matching business rules (i.e., ‘S&amp;P 500 changes by more than 10% since opening’ or ‘Temperature above 300C’).</string>
		<key>elementImageName</key>
		<string>bpmn_element_0021</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0022</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0022</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0023</string>
		<key>elementName</key>
		<string>Intermediate Conditional Event</string>
		<key>elementDescription</key>
		<string>Process execution is delayed until a changed business condition or business rule matches.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0023</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0024</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0024</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0025</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0025</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0026</string>
		<key>elementName</key>
		<string>Intermediate Link Event</string>
		<key>elementDescription</key>
		<string>Off-page connectors. Two corresponding link events correspond to a sequence flow.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0026</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0027</string>
		<key>elementName</key>
		<string>End Error Event</string>
		<key>elementDescription</key>
		<string>The process ends in an error state. As result a named error is thrown.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0027</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0028</string>
		<key>elementName</key>
		<string>Start Error Event</string>
		<key>elementDescription</key>
		<string>Catches named errors. This event is only used inside of an event-subprocess. An event-subprocess with an error trigger will always interrupt its containing process.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0028</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0029</string>
		<key>elementName</key>
		<string>Intermediate Error Event</string>
		<key>elementDescription</key>
		<string>Catches a named error, which was thrown be an inner scope (e.g. subprocess). This event needs to be attached to the boundary of an activity.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0029</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0030</string>
		<key>elementName</key>
		<string>Intermediate Cancel Event</string>
		<key>elementDescription</key>
		<string>Reacts only on a transaction, which was canceled inside an inner scope (e.g. subprocess). This event needs to be attached to the boundary of an activity.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0030</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0031</string>
		<key>elementName</key>
		<string>Cancel End Event</string>
		<key>elementDescription</key>
		<string>Triggering cancellation of a transaction.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0031</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0032</string>
		<key>elementName</key>
		<string>
Start Compensation Event</string>
		<key>elementDescription</key>
		<string>Compensation handling. This event is only used inside of a event subprocess.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0032</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0033</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0033</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0034</string>
		<key>elementName</key>
		<string>Intermediate Compensation Event</string>
		<key>elementDescription</key>
		<string>Compensation handling in case of partially failed operations. This event needs to be attached to the boundary of an activity.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0034</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0035</string>
		<key>elementName</key>
		<string>End Compensation Event</string>
		<key>elementDescription</key>
		<string>Triggering compensation as final process step.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0035</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0036</string>
		<key>elementName</key>
		<string>Start Signal Event</string>
		<key>elementDescription</key>
		<string>A process instance is started based on signaling across different processes. (One signal thrown can be caught multiple times)</string>
		<key>elementImageName</key>
		<string>bpmn_element_0036</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0037</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0037</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0038</string>
		<key>elementName</key>
		<string>Intermediate Signal Event</string>
		<key>elementDescription</key>
		<string>Process execution is delayed until a particular signal is catched. Signalling can happen across different processes.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0038</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0039</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0039</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0040</string>
		<key>elementName</key>
		<string>Intermediate Signal Event</string>
		<key>elementDescription</key>
		<string>The throwing signal event fires up a signal. Afterwards it continues process execution. One signal thrown can be caught multiple times by different catching signal events. Signalling can happen across different processes.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0040</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0041</string>
		<key>elementName</key>
		<string>End Signal Event</string>
		<key>elementDescription</key>
		<string>At the end of the process, a signal is thrown. (One signal thrown can be caught multiple times)</string>
		<key>elementImageName</key>
		<string>bpmn_element_0041</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0042</string>
		<key>elementName</key>
		<string>Start Multiple Event</string>
		<key>elementDescription</key>
		<string>A process instance is started upon occurence of one out of a set of possible events.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0042</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0043</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0043</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0044</string>
		<key>elementName</key>
		<string>Intermediate Multiple Event</string>
		<key>elementDescription</key>
		<string>Process execution is delayed until one out of a set of possible events is triggered.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0044</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0045</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0045</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0046</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0046</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0047</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0047</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0048</string>
		<key>elementName</key>
		<string>End Multiple Event</string>
		<key>elementDescription</key>
		<string>At the end of the process, one out of a set of possible events is triggered.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0048</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0049</string>
		<key>elementName</key>
		<string>Start Parallel Multiple Event</string>
		<key>elementDescription</key>
		<string>A process instance is started upon occurence of all possible events.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0049</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0050</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0050</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0051</string>
		<key>elementName</key>
		<string>Intermediate Parallel Multiple Event</string>
		<key>elementDescription</key>
		<string>Process execution is delayed until all possible events have been triggered.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0051</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0052</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0052</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0053</string>
		<key>elementName</key>
		<string>Terminate End Event	</string>
		<key>elementDescription</key>
		<string>Triggering the immediate termination of a process instance. All steps still in execution in parallel branches are terminated.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0053</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0054</string>
		<key>elementName</key>
		<string>Data-based exclusive (XOR) gateway</string>
		<key>elementDescription</key>
		<string>When splitting, it routes the sequence flow to exactly one of the outgoing branches based on conditions. When merging, it awaits one incoming branch to complete before triggering the outgoing flow.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0054</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0055</string>
		<key>elementName</key>
		<string>Data-based exclusive (XOR) gateway</string>
		<key>elementDescription</key>
		<string>When splitting, it routes the sequence flow to exactly one of the outgoing branches based on conditions. When merging, it awaits one incoming branch to complete before triggering the outgoing flow.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0055</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0056</string>
		<key>elementName</key>
		<string>Event-based Gateway</string>
		<key>elementDescription</key>
		<string>Is always followed by catching events or receiving tasks. Sequence flow is routed to the subsequent event/task which happens first.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0056</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0057</string>
		<key>elementName</key>
		<string>Parallel Gateway</string>
		<key>elementDescription</key>
		<string>When used to split the sequence flow, all outgoing branches are activated simultaneously. When merging parallel branches it waits for all incoming branches to complete before triggering the outgoing flow.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0057</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0058</string>
		<key>elementName</key>
		<string>Inclusive Gateway</string>
		<key>elementDescription</key>
		<string>When splitting, one or more branches are activated based on branching conditions. When merging, it awaits all active incoming branches to complete.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0058</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0059</string>
		<key>elementName</key>
		<string>Complex Gateway</string>
		<key>elementDescription</key>
		<string>It triggers one or more branches based on complex conditions or verbal descriptions. Use it sparingly as the semantics might not be clear.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0059</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0060</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0060</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0061</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0061</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0062</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0062</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0063</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0063</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0064</string>
		<key>elementName</key>
		<string>Sequence Flow</string>
		<key>elementDescription</key>
		<string>Sequence flow defines the execution order of activities.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0064</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0065</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0065</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0066</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0066</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0067</string>
		<key>elementName</key>
		<string>Message Flow</string>
		<key>elementDescription</key>
		<string>Message flow symbolizes information flow across organizational boundaries. Message flow can be attached to pools, activities or message events. The order of message exchanges can be specified by combining message flow and sequence flow.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0067</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0068</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0068</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0069</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0069</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0070</string>
		<key>elementName</key>
		<string>Task</string>
		<key>elementDescription</key>
		<string>A task is a unit of work – the job to be performed. It is an atomic activity within a process flow.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0070</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0071</string>
		<key>elementName</key>
		<string>Transaction</string>
		<key>elementDescription</key>
		<string>A form of sub-process in which all contained activities must be treated as a whole; i.e., they must all be completed to meet an objective, and if any one of them fails, they must all be compensated (undone). Transactions are differentiated from expanded sub-processes by being surrounded by a double border.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0071</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0072</string>
		<key>elementName</key>
		<string>Event Subprocess</string>
		<key>elementDescription</key>
		<string>An event-subprocess is placed within another subprocess. It becomes active when its start event gets triggered and can interrupt the Subprocess context or run in parallel (non-interrupting), depending on the start activity.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0072</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0073</string>
		<key>elementName</key>
		<string>Call Activity</string>
		<key>elementDescription</key>
		<string>A point in the process where a global process or a global Task is reused. A call activity is differentiated from other activity types by a bolded border around the activity area.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0073</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0074</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0074</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0075</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0075</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0076</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0076</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0077</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0077</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0078</string>
		<key>elementName</key>
		<string>Data Store</string>
		<key>elementDescription</key>
		<string>A data store is a place where the process can read or write data, e.g. a database or a filling cabinet. It persists beyond the lifetime of the process instance.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0078</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0079</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0079</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0080</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0080</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0081</string>
		<key>elementName</key>
		<string>Pool/Lane</string>
		<key>elementDescription</key>
		<string>Pools and Lanes represent responsibilities for activities in a process. A pool or a lane can be an organization, a role or a system.</string>
		<key>elementImageName</key>
		<string>bpmn_element_0081</string>
		<key>elementCategory</key>
		<string></string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0082</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0082</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0083</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0083</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0084</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0084</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0085</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0085</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0086</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0086</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0087</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0087</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0088</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0088</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0089</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0089</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0090</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0090</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0091</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0091</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0092</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0092</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0093</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0093</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
	<dict>
		<key>elementId</key>
		<string>bpmn_element_0094</string>
		<key>elementName</key>
		<string>xxx</string>
		<key>elementDescription</key>
		<string>xx</string>
		<key>elementImageName</key>
		<string>bpmn_element_0094</string>
		<key>elementCategory</key>
		<string>fffff</string>
		<key>elementInfo</key>
		<string></string>
	</dict>
</array>
</plist>
